.counter__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-bottom: 2rem;
}

.counter {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.counter > p {
  margin: 0px;
}

.button__wrapper {
  display: flex;
  gap: 1rem;
  color: black;
}
.button__wrapper > * {
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 1rem;
  color: inherit;
  border-radius: 50%;
  outline: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;
}
.button__wrapper > *:hover {
  background-color: #cfd8dc;
}
.button__wrapper > *:active {
  transform: scale(0.9);
}
.button__wrapper > *:focus {
  box-shadow: 0 0 0 3px #a7b7be;
}

.button-cart {
  align-items: center;
  background-color: white;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85rem;
  justify-content: space-evenly;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  text-align: center;
  transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;
}

.button-cart:hover {
  background-color: #cfd8dc;
}

.button-cart:active {
  transform: scale(0.9);
}

.button-cart:focus {
  box-shadow: 0 0 0 3px #a7b7be;
}

.icon_cart {
    margin-left: 10px;
}