.cart-widget-container {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.cart-icon {
    max-width: 40px;
    max-height: 40px;
}

.quantity {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    margin-left: .8rem;
}

.quantity-hidden {
    display: none;
}

@media (max-width: 1199px) {
    .cart-icon {
        order: 3;
        flex: 0 3 30%;
    }
}