.counter {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.button__wrapper {
    margin-top: -30px;
    display: flex;
    gap: 1rem;
    color: black;
}
.button__wrapper > * {
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
    color: inherit;
    border-radius: 50%;
    outline: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;
}
.button__wrapper > *:hover {
    background-color: #cfd8dc;
}
.button__wrapper > *:active {
    transform: scale(0.9);
}
.button__wrapper > *:focus {
    box-shadow: 0 0 0 3px #a7b7be;
}