/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .nav div.brand {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    color: #A9AFDA;
    font-style: italic;
  }
  
  .nav div.brand a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .nav div.brand a:hover {
    color: #525EB7;
  }
  
  .nav div.main_list {
    height: 65px;
    float: right;
  }
  
  .nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
  }
  
  .nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .nav div.main_list ul li a:hover {
    border-bottom:#525EB7 solid 2px;
  }