/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #181C39;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav div.brand {
    width: auto;
    height: auto;
    padding-left: 3rem;
    color: #A9AFDA;
    font-style: italic;
  }
  
  .nav div.brand a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .nav div.brand a:hover {
    color: #525EB7;
  }
  
  .nav div.main_list {
    height: 65px;
  }
  
  .nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
  }
  
  .nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .nav div.main_list ul li a:hover {
    padding-bottom: 5px;
    border-bottom:#525EB7 solid 2px;
  }
@media (min-width: 1200px) {
  .nav .hamburger {
    display: none;
  }
  .nav div.main_list--open ul {
    display: none;
  }
}

@media (max-width: 1199px) {

  .nav .hamburger {
    order: 0;
    cursor: pointer;
    margin-left: 5%;
    flex: 0 3 10%;
    position: absolute;
  }

  .nav div.brand {
    order: 2;
    flex: 0 0.5 60%;
  }

  .nav div.main_list ul {
    display: none;
  }

  .nav div.main_list--open ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    list-style: none;
    line-height: normal;
    position: absolute;
    right: 0;
    left: 0;
    padding: 0 0 15px 5%;
    width: 100%;
    background-color: #181C39;
    border-top: #525EB7 solid 2px;
  }

  .nav div.main_list--open ul li a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
  }

  .nav div.main_list--open ul a:hover {
    padding-bottom: 5px;
    border-bottom:#525EB7 solid 2px;
  }

}